.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  overflow: hidden;
  border: 1px solid #333;
  border-radius: 10px;
}
.card:hover {
  transform: translateY(-5px);
  border-color: #555;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.cardInfo{
  padding: 5px;
}
.card h5,p {
  margin:0;
}
.card h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 18px;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}